@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
*{ margin: 0; box-sizing: border-box; scroll-behavior: smooth;}
a{ text-decoration: none;}
ul{ list-style: none;}
button{ cursor:  pointer; padding: 0;}
.flex{ display: flex;}
.justify-space-bet{ justify-content: space-between;}
.right{ justify-content: right;}
.align-center{ align-items: center;}
.img-resp{ max-width:100%;}



html{ font-size: 15px;
--ff:"Open Sans", serif;
--rol:"Raleway", serif;
--col:#333;
--col2:#ff8b38;}

.ral{ font-family: var(--rol);}
.para{ font: 1rem var(--ff); color: #a2a3a6;}

.part-1{background: #000;  z-index: 2;}
header{ background: #000;}
header h1{ display: inline-block; color: #fff; font: bold 2rem var(--ff); margin: 1rem 0;}
h1.ral{ color: var(--col2);}
nav ul li{ margin:1rem; display: block;}
li a{ font: 1rem var(--ff); color: #fff; line-height: 3rem; padding: 1rem;}

nav li:hover a{ color: var(--col2); transition: .3s; text-shadow: 2px 2px 10px #fff;}
.collapse{ display: none; width: 60px; border: 2px solid var(--col2); border-radius: 25px; padding: 10px; margin: 5px; }
.collapse span{ display:inline-block; width: 10px; height: 10px; background: var(--col2); padding: 5px; border-radius: 50%;}

.collapse.active{background: var(--col2);}
.collapse.active span{background: var(--col);}


.part-2{ background: url(../img/bg-1.webp) center top/cover;color: #fff; font: bold 2rem var(--ff); padding: 7rem 0;}
.part-2 h1{ display: inline-block;}
.part-2 p{ font-size: 32px;}
.seprator{ width: 4rem; height:3px ; background:var(--col2); margin-top: 3rem;}
.part-2 .about{ font:1rem var(--rol); margin-top:3rem;}
.download-button{ border:2px solid #fff; background: none; font: 1rem var(--ff); color: #fff; padding: 1rem 2rem;
margin-top: 3rem; transition-duration: .4s ;}
.part-2 .download-button:hover{ border: 2px solid var(--col2); color: var(--col2); box-shadow: 0 0 5px #fff;}

.part-2 .trail-form{ width:24rem; height: auto; border: none; background: #f5f5f5; color: #000; text-align: center; border-radius: 10px; transition-duration: .4s;}
.part-2 h2{ font: bold 22px var(--ff); padding: 1rem 0; }
.part-2 span{ color:var(--col2);}
.part-2 form{ background: #fff; padding: 3rem 0;}
.part-2 input{ width: 18rem; height: 32px ; border: none; background: #fff; margin: 0 40px ; border-bottom: 1px solid #000; }
.part-2 input::placeholder{ font: 14px var(--ff);}
.part-2 .form-button{border:none; background: var(--col2); font: 1rem var(--ff); color: #fff; width: 24rem;padding: 1rem 2rem; border-radius: 0 0 10px 10px;} 
.part-2 .trail-form:hover{ box-shadow: 0 0 10px #fff; }


.part-3{ background: #fff; padding: 20px 0;}
.part-3 h2{ font: bold 20px var(--ff);}
.part-3 p{ font: 14px var(--ff); color: #000;}
.part-3 ul li a{color: var(--col); font-size: 2rem; margin: 0 10px;}
.part-3 ul li a:hover{color: var(--col2);}


.part-4{ background: #f5f5f5; padding: 10rem 0;}
.part-4 .tab{ width:7rem ; height: 7rem;  color: #fff; display: grid; place-items: center; border: 1px solid #000; border-radius: 10px; background: var(--col); margin-bottom: 1rem;}
.part-4 .tab.active{ background:var(--col2);}
.part-4 h3{ font: bold 20px var(--ff);}
.part-4 .para{ margin-top:25px;}
.part-4 .download-button{ background: var(--col2);}
.part-4 .download-button:hover{ box-shadow: 0 0 10px var(--col); transition: 0.3s;}

.acc{display: none;}
.acc.active{display: block;}
.sublists{border: 2px solid var(--col); padding: 1rem;}


.part-5{ background: #fff; padding: 7rem 0;}
.part-5 h2{ font: bold 20px/43px var(--ff);}
.part-5 .seprator{ margin: 2rem 0;}

.sublists{ margin-top: 2rem;}
.sublist a{ font: bold 20px var(--ff); color:#000 ; }
.sublist a .fa{ font-size: 1.5rem; margin-right: 2rem; color: var(--col);}
.sublists .para{ margin-left: 4rem;}
.sublist-img img.active{ box-shadow: 0 0 10px var(--col);}

.part-5 img{ display: none;}
.part-5 img.active{ display: block;}
.sublists .para{ display: none;}
.sublists .para.active{ display: block;}
.sublists a.active .fa{ color: var(--col2);}


.part-6{ background: #f5f5f5; padding: 6rem 0;}
.part-6 h2{ font: bold 20px/43px var(--ff);}
.part-6 .seprator{ margin: 2rem 0;}
.part-6 img{ box-shadow: 0 0 10px var(--col);}


.part-7{ background:#fff; text-align: center; padding: 6rem 0;}
.part-7 h2{ font: bold 36px/43px var(--rol); text-transform: uppercase;}
.part-7 .seprator{ margin: 1rem auto;}
.part-7 .para{ margin-bottom: 2rem;}
.part-7 .svg{ border: 3px solid var(--col2); width: 70px; height: 70px ; margin: 1rem auto; border-radius: 50%;display: grid; place-items: center; transition-duration: .5s;}
.part-7 .fa{ font-size: 3rem;  color: var(--col2);}
.part-7 h3{ font: bold 20px var(--ff); margin: 1rem 0;}
.part-7 .svg:hover{border: 3px solid var(--col); box-shadow: 0 0 10px var(--col);}


.part-8{ background:#fff; text-align: center; padding: 6rem 0; background: #f5f5f5;}
.part-8 h2{ font: bold 36px/43px var(--rol); text-transform: uppercase;}
.part-8 .seprator{ margin: 1rem auto;}
.part-8 .para{ margin-bottom: 2rem;}

.price-banner{ background: var(--col); color: #fff; width: 100%; transition-duration: .5s;}
.part-8 h3{ font: bold 20px/25px var(--ff); border-bottom: 1px solid #fff; padding: 1rem 0;}
.part-8 h4{ font: bold 2rem var(--rol);}
.part-8 h4 span{ font: bold 6rem var(--rol);}
.price-banner .seprator{ width: 100%; margin: 0;}
.price-banner .features{ color: #a2a3a6; border-bottom: 1px solid #000; background: #fff;}
.price-banner .features .para{padding: 10px 0; margin-bottom: 0;}

.price-banner:hover{ transform: scale(1.1); box-shadow: 0 0 20px var(--col2);}


.part-9{ background:#fff; text-align: center; padding: 6rem 0; background: #fff;}
.part-9 h2{ font: bold 36px/43px var(--rol); text-transform: uppercase;}
.part-9 .seprator{ margin: 1rem auto;}
.part-9 .para{ margin-bottom: 2rem;}

.part-9 .em{ font:italic 1rem var(--ff) ; background: #a2a3a6; padding: 1rem 1rem; transition-duration: .5s;}
.part-9 img { float: left; margin-top: 2rem; margin-right: -5rem;}
.part-9 h3{ font: bold 20px var(--ff); margin-top: 2rem; }
.part-9 .about{ font: 1rem var(--ff); }

.part-9 .em:hover{ background: var(--col); color: var(--col2); box-shadow: 0 0 20px #a2a3a6; box-shadow: 0 0 5px #fff inset;}


.part-10{  background:#f5f5f5; text-align: center; padding: 6rem 0; background: #fff; }
.part-10 h2{ font: bold 36px/43px var(--rol); text-transform: uppercase;}
.part-10 .seprator{ margin: 1rem auto;}
.part-10 .para{ margin-bottom: 2rem;}
.part-10 input{ width: 100%; background: none; margin: 1rem 0; border: 1px solid #a2a3a6; padding: 1rem ;}
.part-10 input::placeholder{ font:1rem var(--ff); }
.part-10 textarea{ resize: none; width: 100%; height: 10rem; border: 1px solid #a2a3a6; margin: 1rem 0;}
.part-10 textarea::placeholder{ font: 1rem var(--ff);}

.part-10 button{ width: 10rem; height: 3rem; font: 1rem var(--ff); background: var(--col2); color: #fff; border: none;
border-radius: 10px; margin: 2rem 0;}


.container{ max-width: 1170px; margin: auto; padding: 0 1rem;}
.row{display: grid;grid-template-columns:repeat(12,1fr); gap: 30px;}
.col-1{ grid-column:span 1;}
.col-2{ grid-column:span 2;}
.col-3{ grid-column:span 3;}
.col-4{ grid-column:span 4;}
.col-5{ grid-column:span 5;}
.col-6{ grid-column:span 6;}
.col-7{ grid-column:span 7;}
.col-8{ grid-column:span 8;}
.col-9{ grid-column:span 9;}
.col-10{ grid-column:span 10;}
.col-11{ grid-column:span 11;}
.col-12{ grid-column:span 12;}

@media screen and ( max-width:1200px){
    html{ font-size: 15px;}
}

@media screen and ( max-width:980px){
    html{ font-size: 15px;}
    .col-t-1{ grid-column:span 1;}
    .col-t-2{ grid-column:span 2;}
    .col-t-3{ grid-column:span 3;}
    .col-t-4{ grid-column:span 4;}
    .col-t-5{ grid-column:span 5;}
    .col-t-6{ grid-column:span 6;}
    .col-t-7{ grid-column:span 7;}
    .col-t-8{ grid-column:span 8;}
    .col-t-9{ grid-column:span 9;}
    .col-t-10{ grid-column:span 10;}
    .col-t-11{ grid-column:span 11;}
    .col-t-12{ grid-column:span 12;}  
}

@media screen and ( max-width:767px){
    html{ font-size: 13px;}
    .col-m-1{ grid-column:span 1;}
    .col-m-2{ grid-column:span 2;}
    .col-m-3{ grid-column:span 3;}
    .col-m-4{ grid-column:span 4;}
    .col-m-5{ grid-column:span 5;}
    .col-m-6{ grid-column:span 6;}
    .col-m-7{ grid-column:span 7;}
    .col-m-8{ grid-column:span 8;}
    .col-m-9{ grid-column:span 9;}
    .col-m-10{ grid-column:span 10;}
    .col-m-11{ grid-column:span 11;}
    .col-m-12{ grid-column:span 12;} 
    .part-2 .trail-form{margin: auto;}   
}
@media screen and ( max-width:480px){
    html{ font-size: 12px;}
.col-p-1{ grid-column:span 1;}
.col-p-2{ grid-column:span 2;}
.col-p-3{ grid-column:span 3;}
.col-p-4{ grid-column:span 4;}
.col-p-5{ grid-column:span 5;}
.col-p-6{ grid-column:span 6;}
.col-p-7{ grid-column:span 7;}
.col-p-8{ grid-column:span 8;}
.col-p-9{ grid-column:span 9;}
.col-p-10{ grid-column:span 10;}
.col-p-11{ grid-column:span 11;}
.col-p-12{ grid-column:span 12;}
nav{ display: none; position: absolute; right: 1rem; background: var(--col); top: 56px; border-radius: 0 0 10px 10px;}
.collapse-nav .flex{flex-direction: column;}
.collapse{display: block;}
.price-banner{ width: 90%;margin: 1rem 2rem;}
.part-9 img{ float: none; margin-right:5px; }

nav ul li{margin: 7px 0;}
}